.sprite-png { background-image: url('sprite.png') }
.sprite-png.logo-game {
  width: 99px;
  height: 22px;
  background-position: 0px 0px;
  background-size: 102px 72px; }
.sprite-png.logo-gpo-grey {
  width: 93px;
  height: 18px;
  background-position: 0px -27px;
  background-size: 102px 72px; }
.sprite-png.logo-gpo-white {
  width: 94px;
  height: 18px;
  background-position: 0px -51px;
  background-size: 102px 72px; }