@import 'reset', 'utils', 'fonts';

$ad-width: 336px;
$ad-height: 280px;
$ad-margin: 18px;

#ad_content {
  background: white;
  color: white;
  cursor: pointer;
  border: 1px solid black;
  font-family: 'GoogleSans-Medium', sans-serif;
  line-height: 1;
  overflow: hidden;
  position: absolute;
  width: $ad-width;
  height: $ad-height;
  // background: url('backup.jpg') -1px -1px no-repeat;
  
  div, svg {
    position: absolute;
  }
}

.backup {
  background: url('backup.jpg') -1px -1px no-repeat;
  background-size: $ad-width $ad-height;
  border: 1px solid black;
  cursor: pointer;
  position: absolute;
  width: $ad-width;
  height: $ad-height;
}

/* --- */

#logo-game {
  left: 217px;
  top: 19px;
}

.logo-game-ef {
  left: 24px!important;
}

.logo-gpo {
  left: 214px;
  top: 241px;
}

/* --- */

#prism, #prism div {
  width: 600px;
  height: 600px;
  transform-origin: bottom left;
  top: -202px;
  left: 113px;

  #red {
    background: #e6394e;
  }

  #blue {
    background: #52c0fa;
  }

  #yellow {
    background: #fcc40c;
  }

  #green {
    background: #2cd679;
  }

  #white {
    background: white;
  }
}

#main-character {
  left: 139px;
  top: 23px;
}

/* --- */

#headline {
  font-size: 31px;
  top: 149px;
  left: $ad-margin;
}

#cta {
  background: #00AFFF;
  border-radius: 8px;
  font-size: 15px;
  padding: 12px 14px;
  top: 222px;
  left: $ad-margin;
}