html, body {
  padding: 0;
  margin: 0;
  user-select: none; }

html {
  font-size: 1em; }

body {
  font-size: 100%; }

a img, :link img, :visited img {
  border: 0; }

*, *:before, *:after {
  box-sizing: border-box; }

.alpha-0 {
  opacity: 0; }

.invisible {
  visibility: hidden; }

.none {
  display: none; }

.offstage {
  position: absolute;
  left: -4000px;
  top: -4000px; }

.transform-reset {
  transform: none !important; }

.anti-alias, .white-text-alias-mac {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.gpu {
  backface-visibility: hidden;
  transform: translateZ(0); }

@supports (-moz-appearance: meterbar) {
  .gpu {
    transform: translateZ(0) rotate(0.02deg); } }

.center-trans {
  position: absolute;
  left: 50%;
  transform: translateX(-50%); }

.middle-trans {
  position: absolute;
  top: 50%;
  transform: translateY(-50%); }

.center-middle-trans {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }

.center {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto; }

.middle {
  position: absolute;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto; }

.center-middle {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto; }

#content {
  background: #31a7c2;
  cursor: pointer;
  border: 1px solid black;
  font-family: Helvetica, Arial, sans-serif;
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%; }

iframe {
  border: 0; }

#cta {
  float: right;
  color: white;
  font-size: 1.5em;
  margin: .5em;
  text-align: right;
  animation: cta-animation 2s; }

#loader {
  width: 25px;
  height: 25px;
  background: red;
  animation: loader-animation 2s infinite;
  display: none;
  border-radius: 50%; }

@keyframes loader-animation {
  0% {
    background: #0280af;
    transform: scale(1); }
  20% {
    background: #0280af;
    transform: scale(1); }
  25% {
    background: #f1ae0f;
    transform: scale(1.2); }
  45% {
    background: #f1ae0f;
    transform: scale(1.2); }
  50% {
    background: #ec6609;
    transform: scale(1.1); }
  70% {
    background: #ec6609;
    transform: scale(1.1); }
  75% {
    background: #d4183c;
    transform: scale(1.4); }
  95% {
    background: #d4183c;
    transform: scale(1.4); }
  100% {
    background: #0280af;
    transform: scale(1); } }

@keyframes cta-animation {
  0% {
    font-size: 20em;
    text-align: left; }
  49% {
    font-size: 20em; }
  50% {
    font-size: 10em; }
  99% {
    font-size: 10em; }
  100% {
    font-size: 2em;
    text-align: right; } }
