html, body {
  padding: 0;
  margin: 0;
  user-select: none; }

html {
  font-size: 1em; }

body {
  font-size: 100%; }

a img, :link img, :visited img {
  border: 0; }

*, *:before, *:after {
  box-sizing: border-box; }

.alpha-0 {
  opacity: 0; }

.invisible {
  visibility: hidden; }

.none {
  display: none; }

.offstage {
  position: absolute;
  left: -4000px;
  top: -4000px; }

.transform-reset {
  transform: none !important; }

.anti-alias, .white-text-alias-mac {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.gpu {
  backface-visibility: hidden;
  transform: translateZ(0); }

@supports (-moz-appearance: meterbar) {
  .gpu {
    transform: translateZ(0) rotate(0.02deg); } }

.center-trans {
  position: absolute;
  left: 50%;
  transform: translateX(-50%); }

.middle-trans {
  position: absolute;
  top: 50%;
  transform: translateY(-50%); }

.center-middle-trans {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }

.center {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto; }

.middle {
  position: absolute;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto; }

.center-middle {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto; }

#content {
  background: white;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  overflow: hidden;
  color: black;
  width: 100%;
  height: 100%; }

img {
  transform-origin: top left;
  transform: scale(0.5); }

iframe {
  border: 0px;
  pointer-events: none; }

span {
  color: white; }

#header {
  position: fixed;
  top: 0;
  width: 100%;
  background: black;
  height: 60px; }

#left_box, #right_box {
  float: left; }

#left_box {
  width: 80%;
  margin: 5px 10px; }

#right_box {
  width: 10%;
  margin: 2px 0 0 8px; }

#email {
  display: none; }

a {
  text-decoration: none;
  font-size: 1.4em;
  color: #e6c820;
  display: inline-block;
  vertical-align: middle;
  margin: 0px 0 0 12px; }

#in_logo {
  transform-origin: top left;
  transform: scale(0.95);
  margin-left: -1px; }

#name {
  font-size: 1.1em; }

#rm {
  font-weight: lighter; }

#container {
  width: 100%; }

.ad {
  cursor: pointer;
  margin: 0 auto 10px auto; }

#description {
  font-weight: 200;
  font-size: 0.6em; }

#container-wrap {
  width: 320px;
  margin: 60px auto; }

.preloader {
  width: 25px;
  height: 25px;
  background: red;
  animation: loader-animation 2s infinite;
  border-radius: 50%; }

@keyframes loader-animation {
  0% {
    background: #0280af;
    transform: scale(1); }
  20% {
    background: #0280af;
    transform: scale(1); }
  25% {
    background: #f1ae0f;
    transform: scale(1.2); }
  45% {
    background: #f1ae0f;
    transform: scale(1.2); }
  50% {
    background: #ec6609;
    transform: scale(1.1); }
  70% {
    background: #ec6609;
    transform: scale(1.1); }
  75% {
    background: #d4183c;
    transform: scale(1.4); }
  95% {
    background: #d4183c;
    transform: scale(1.4); }
  100% {
    background: #0280af;
    transform: scale(1); } }

@keyframes cta-animation {
  0% {
    font-size: 20em;
    text-align: left; }
  49% {
    font-size: 20em; }
  50% {
    font-size: 10em; }
  99% {
    font-size: 10em; }
  100% {
    font-size: 2em;
    text-align: right; } }
