.sprite-png { background-image: url('sprite.png') }
.sprite-png.logo-game {
  width: 95px;
  height: 21px;
  background-position: -90px 0px;
  background-size: 186px 69px; }
.sprite-png.logo-gpo-grey {
  width: 85px;
  height: 32px;
  background-position: 0px 0px;
  background-size: 186px 69px; }
.sprite-png.logo-gpo-white {
  width: 85px;
  height: 32px;
  background-position: 0px -36px;
  background-size: 186px 69px; }