@import 'reset', 'utils', 'fonts';

$ad-width: 320px;
$ad-height: 100px;

#ad_content {
  background: white;
  color: white;
  cursor: pointer;
  border: 1px solid black;
  font-family: 'GoogleSans-Medium', sans-serif;
  line-height: 1;
  overflow: hidden;
  position: absolute;
  width: $ad-width;
  height: $ad-height;
  background: url('backup.jpg') -1px -1px no-repeat;


  div, svg {
    position: absolute;
  }
}

.backup {
  background: url('backup.jpg') -1px -1px no-repeat;
  background-size: $ad-width $ad-height;
  border: 1px solid black;
  cursor: pointer;
  position: absolute;
  width: $ad-width;
  height: $ad-height;
}

/* --- */

#logo-game {
  left: 246px;
  top: 14px;
}

.logo-game-ef {
  left: 115px!important;
  top: 65px!important;
}

#logo-gpo-grey {
  left: 241px;
  top: 7px;
}

#logo-gpo-white {
  left: 232px;
  top: 75px;
}


/* --- */

#prism, #prism div {
  width: 600px;
  height: 600px;
  transform-origin: bottom left;
  top: -304px;
  left: 76px;

  #red {
    background: #e6394e;
  }

  #blue {
    background: #52c0fa;
  }

  #yellow {
    background: #fcc40c;
  }

  #green {
    background: #2cd679;
  }

  #white {
    background: white;
  }
}

#headline {
  font-size: 20px;
  left: 13px;
  top: 13px;
}

/* --- */

#cta {
  background: #00AFFF;
  border-radius: 3px;
  font-size: 10px;
  padding: 7px;
  left: 11px;
  top: 68px;
}

.cta-ef {
    top: 58px!important;
}